/* TN5250 
 * Copyright (C) 2001 Scott Klement
 * 
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2, or (at your option)
 * any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this software; see the file COPYING.  If not, write to
 * the Free Software Foundation, Inc., 59 Temple Place, Suite 330,
 * Boston, MA 02111-1307 USA
 * 
 * As a special exception, the copyright holder gives permission
 * for additional uses of the text contained in its release of TN5250.
 * 
 * The exception is that, if you link the TN5250 library with other files
 * to produce an executable, this does not by itself cause the
 * resulting executable to be covered by the GNU General Public License.
 * Your use of that executable is in no way restricted on account of
 * linking the TN5250 library code into it.
 * 
 * This exception does not however invalidate any other reasons why
 * the executable file might be covered by the GNU General Public License.
 * 
 * If you write modifications of your own for TN5250, it is your choice
 * whether to permit this exception to apply to your modifications.
 * If you do not wish that, delete this exception notice.  */

#include <windows.h>
#include "resource.h"

IDI_TN5250_ICON ICON "tn5250.ico"

tn5250-win32-menu MENU DISCARDABLE
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "E&xit\tCtrl-Q",	IDM_APP_EXIT
	END
	POPUP "&Edit"
	BEGIN
		MENUITEM "&Copy\tShift-Delete",	IDM_EDIT_COPY
		MENUITEM "&Paste\tShift-Insert",IDM_EDIT_PASTE
	END
	POPUP "&Help"
	BEGIN
		MENUITEM "&About Tn5250",	IDM_APP_ABOUT
	END
END

tn5250-win32-menu ACCELERATORS DISCARDABLE
BEGIN
	VK_INSERT,	IDM_EDIT_COPY,	VIRTKEY, CONTROL, NOINVERT
	VK_INSERT,	IDM_EDIT_PASTE,	VIRTKEY, SHIFT, NOINVERT
	VK_DELETE,	IDM_EDIT_COPY,	VIRTKEY, SHIFT, NOINVERT
END
